# Ejercicio 1

Dado el conjunto de datos “ObesityDataSet_raw_and_data_sinthetic”, disponible en
los siguientes links:

* Descripción:
https://ignaciorlando.github.io/datasets/data-science/ObesityDataSet_raw_and_data_sinthetic.txt

* Archivo:
https://ignaciorlando.github.io/datasets/data-science/ObesityDataSet_raw_and_data_sinthetic.csv

## a) Implementar en una notebook de Jupyter el código necesario para:

### i) Descargar automaticamente ambos archivos.

In [1]:
%pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Using legacy 'setup.py install' for wget, since package 'wheel' is not installed.
Installing collected packages: wget
  Running setup.py install for wget ... done
Successfully installed wget-3.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from wget import download
from os import path,listdir

download("https://ignaciorlando.github.io/datasets/data-science/ObesityDataSet_raw_and_data_sinthetic.txt")
download("https://ignaciorlando.github.io/datasets/data-science/ObesityDataSet_raw_and_data_sinthetic.csv")

In [7]:
lista_archivos = listdir("./")
print(f"El contenido de la carpeta es: {lista_archivos}")

El contenido de la carpeta es: ['venvTP2', 'ObesityDataSet_raw_and_data_sinthetic.csv', 'Practico2.ipynb', 'ObesityDataSet_raw_and_data_sinthetic.txt']

### ii) Leer el archivo de descripción y mostrar su contenido en pantalla.

In [20]:
with open("ObesityDataSet_raw_and_data_sinthetic.txt", 'r') as file:
    descripcion = file.read()

print(descripcion)

Obesidad

La obesidad, que causa problemas físicos y mentales, es un problema de salud global con graves consecuencias. La prevalencia de la obesidad aumenta constantemente, por lo que se necesita nueva investigación que examine los factores que influyen en la obesidad y cómo predecir la aparición de la condición según estos factores.

(Enlace al artículo original)

Información del Conjunto de Datos

Este conjunto de datos incluye información para la estimación de los niveles de obesidad en individuos de los países de México, Perú y Colombia, en función de sus hábitos alimenticios y condición física. Los datos contienen 17 atributos y 2111 registros, los registros están etiquetados con la variable de clase NObesidad (Nivel de Obesidad), que permite la clasificación de los datos utilizando los valores de Peso Insuficiente, Peso Normal, Sobrepeso Nivel I, Sobrepeso Nivel II, Obesidad Tipo I, Obesidad Tipo II y Obesidad Tipo III. El 77% de los datos se generó sintéticamente utilizando la herramienta Weka y el filtro SMOTE, el 23% de los datos se recolectaron directamente de los usuarios a través de una plataforma web.

### iii) Leer el archivo de datos.

In [5]:
import pandas as pd

archivo = pd.read_csv("ObesityDataSet_raw_and_data_sinthetic.csv")

archivo

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.000000,Female,1.620000,64.000000,no,no,2.0,3.0,no,no,2.000000,yes,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
1,21.000000,Female,1.520000,56.000000,Sometimes,no,3.0,3.0,yes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,23.000000,Male,1.800000,77.000000,Frequently,no,2.0,3.0,no,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
3,27.000000,Male,1.800000,87.000000,Frequently,no,3.0,3.0,no,no,2.000000,no,2.000000,0.000000,Sometimes,Walking,Overweight_Level_I
4,22.000000,Male,1.780000,89.800000,Sometimes,no,2.0,1.0,no,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,Female,1.710730,131.408528,Sometimes,yes,3.0,3.0,no,no,1.728139,yes,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,21.982942,Female,1.748584,133.742943,Sometimes,yes,3.0,3.0,no,no,2.005130,yes,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,22.524036,Female,1.752206,133.689352,Sometimes,yes,3.0,3.0,no,no,2.054193,yes,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,24.361936,Female,1.739450,133.346641,Sometimes,yes,3.0,3.0,no,no,2.852339,yes,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,23.664709,Female,1.738836,133.472641,Sometimes,yes,3.0,3.0,no,no,2.863513,yes,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

### iv) Imprimir la cabecera del archivo.

In [25]:
print(archivo.columns)

Index(['Age', 'Gender', 'Height', 'Weight', 'CALC', 'FAVC', 'FCVC', 'NCP',
       'SCC', 'SMOKE', 'CH2O', 'family_history_with_overweight', 'FAF', 'TUE',
       'CAEC', 'MTRANS', 'NObeyesdad'],
      dtype='object')

### v) Imprimir los primeros 5 registros del archivo.

In [26]:
archivo.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

### vi) Imprimir el resumen estadistico del mismo.

In [30]:
archivo.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

## b) Analizar los valores de las columnas. ¿Qué tipo de datos hay en cada una?. ¿Qué representan? Incluir información del análisis en la notebook.

In [31]:
archivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             2111 non-null   float64
 1   Gender                          2111 non-null   object
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   CALC                            2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   SCC                             2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  family_history_with_overweight  2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CAEC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

### El dataset esta basado en informacion sobre estimacion de los niveles de obesidad en individuos de los paises: Mexico, Peru y Colombia. 
* Age: edad del individuo.
* Gender: genero del individuo.
* Height: altura del individuo.
* Weight: peso del individuo.
* CALC: ¿Con que frecuencia tomas alcohol?
* FAVC: ¿Ingeris comidas con alto indice calorico frecuentemente?
* FCVC: ¿Comes vegetales usualmente?
* NCP: ¿Cuantas veces comes al dia?
* SCC: ¿Controlas las calorias que ingeris diaramente?
* SMOKE: ¿Fumás?
* CH20: ¿Cuantas agua tomas al dia?
* family_history_with_overweight: ¿Algun miembro de tu familia sufre o sufrio de obesidad?
* FAF: ¿Que tan frecuentemente haces actividad fisica?
* TUE: ¿Cuanto tiempo usas dipositivos electronicos?
* CAEC: ¿Te alimentas con algo extra entre comidas?
* MTRANS: ¿Que transporte utilizas normalmente?
* NObeyesdad: Nivel de obesidad.

# Ejercicio 2

## c) Implementar en una notebook de Jupyter el codigo necesario para:

### i) Descargar automaticamente ambos archivos.

In [2]:
# Mal cargados los archivos de dataset
from wget import download
download("")

'ObesityDataSet_raw_and_data_sinthetic (2).csv'

### ii) Leer el archivo de descripción y mostrar su contenido en pantalla.

In [ ]:
descripcion = pd.read_csv("")

# Ejercicio 3

## Dado el conjunto de datos “catalogo_streaming_argentina_2024”, disponible en el link: https://ignaciorlando.github.io/datasets/data-science/catalogo_streaming_argentina_2024.xlsx

## i) Descargar automaticamente el archivo

In [3]:
download("https://ignaciorlando.github.io/datasets/data-science/catalogo_streaming_argentina_2024.xlsx")

'catalogo_streaming_argentina_2024.xlsx'

## ii) Leer el archivo

In [12]:
catalogo = pd.read_excel("catalogo_streaming_argentina_2024.xlsx")

catalogo

,title,platform,type,imdbVotes,imdbScore,tmdbPopularity,tmdbScore,runtime,genres,director,year_range,url
0,Cadena perpetua,Max,MOVIE,2906253.0,9.3,159.594,8.705,142,"Drama, Crimen",Frank Darabont,1900_2002,https://play.max.com/movie/9b4dacba-2f80-4272-...
1,El caballero oscuro,Max,MOVIE,2893241.0,9.0,111.674,8.516,152,"Misterio & Suspense, Drama, Acción & Aventura,...",Christopher Nolan,2003_2010,https://play.max.com/movie/52217243-a137-45d6-...
2,Origen,Max,MOVIE,2570263.0,8.8,139.644,8.369,148,"Ciencia ficción, Acción & Aventura, Misterio &...",Christopher Nolan,2003_2010,https://play.max.com/movie/14552c93-d318-4563-...
3,El club de la lucha,Disney Plus,MOVIE,2345071.0,8.8,108.297,8.400,139,Drama,David Fincher,1998_2004,https://disneyplus.bn5x.net/c/1206980/705874/9...
4,El club de la lucha,Netflix,MOVIE,2345071.0,8.8,108.297,8.400,139,Drama,David Fincher,1995_2005,http://www.netflix.com/title/26004747
...,...,...,...,...,...,...,...,...,...,...,...,...
19812,Три кота,Netflix,SHOW,NaN,NaN,13.684,5.400,5,Ciencia ficción,NaN,2013_2017,http://www.netflix.com/title/81208524
19813,أم الدراهم,Amazon Prime Video,SHOW,NaN,NaN,0.858,NaN,29,Comedia,NaN,2021,https://app.primevideo.com/detail?gti=amzn1.dv...
19814,ورق مسموم,Amazon Prime Video,SHOW,NaN,NaN,0.600,NaN,48,NaN,NaN,2022,https://app.primevideo.com/detail?gti=amzn1.dv...
19815,ガクドリ,Amazon Prime Video,MOVIE,NaN,NaN,2.841,NaN,90,NaN,Kei Era,2011_2013,https://app.primevideo.com/detail?gti=amzn1.dv...
19816,新歌舞伎：赤胴鈴之助,Netflix,MOVIE,NaN,NaN,3.203,NaN,169,Fantasía,Kikunojo Onoe,2022,http://www.netflix.com/title/81517566

## iii) Imprimir la cabecera del archivo

In [14]:
catalogo.columns

Index(['title', 'platform', 'type', 'imdbVotes', 'imdbScore', 'tmdbPopularity',
       'tmdbScore', 'runtime', 'genres', 'director', 'year_range', 'url'],
      dtype='object')

## iv) Imprimir los primeros 5 registros del archivo

In [15]:
catalogo.head()

,title,platform,type,imdbVotes,imdbScore,tmdbPopularity,tmdbScore,runtime,genres,director,year_range,url
0,Cadena perpetua,Max,MOVIE,2906253.0,9.3,159.594,8.705,142,"Drama, Crimen",Frank Darabont,1900_2002,https://play.max.com/movie/9b4dacba-2f80-4272-...
1,El caballero oscuro,Max,MOVIE,2893241.0,9.0,111.674,8.516,152,"Misterio & Suspense, Drama, Acción & Aventura,...",Christopher Nolan,2003_2010,https://play.max.com/movie/52217243-a137-45d6-...
2,Origen,Max,MOVIE,2570263.0,8.8,139.644,8.369,148,"Ciencia ficción, Acción & Aventura, Misterio &...",Christopher Nolan,2003_2010,https://play.max.com/movie/14552c93-d318-4563-...
3,El club de la lucha,Disney Plus,MOVIE,2345071.0,8.8,108.297,8.400,139,Drama,David Fincher,1998_2004,https://disneyplus.bn5x.net/c/1206980/705874/9...
4,El club de la lucha,Netflix,MOVIE,2345071.0,8.8,108.297,8.400,139,Drama,David Fincher,1995_2005,http://www.netflix.com/title/26004747

## v) Imprimir el resumen estadistico del mismo

In [16]:
catalogo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19817 entries, 0 to 19816
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           19817 non-null  object
 1   platform        19817 non-null  object
 2   type            19817 non-null  object
 3   imdbVotes       17854 non-null  float64
 4   imdbScore       17927 non-null  float64
 5   tmdbPopularity  19538 non-null  float64
 6   tmdbScore       18954 non-null  float64
 7   runtime         19817 non-null  int64
 8   genres          19665 non-null  object
 9   director        14626 non-null  object
 10  year_range      19817 non-null  object
 11  url             19817 non-null  object
dtypes: float64(4), int64(1), object(7)
memory usage: 1.8+ MB

## b) Analizar los valores de las columnas. ¿Qué tipo de datos hay en cada una? ¿Qué representan? Incluir información del análisis en la notebook.